#bg-head{
    display: block;
    .main-heading h1{
        color: $bg-white;
        font-size: 50px;
        font-family: Anton-Regular;

    }
    i{
        color: #fff;
        font-size: 50px;
    }
}