header{
    width: auto;
    margin: auto;
    background-color: $bg-dark-sky-blue;
    box-shadow: 0 0 0px $bg-dark;
    margin-bottom: 5px;

    nav{

        width: 1180px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .navbar-brand{
            width: 300px;
        }
        .collapse{
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                
                ul.navbar-nav{
                    padding: 0;
                    margin: 0;
                    li.nav-item{
                        display: table-cell;
                        vertical-align: middle;
                        margin: 0 5px;
                        position: relative;
                        
                        .dropdown{
                            display: none;
                            position: absolute;
                            top:58px;
                            width: 230px;
                            background-color: $bg-gray;
                            left: 0;
                            border: 1px solid #ccc;
                            ul{
                                padding: 0;
                                margin: 0;
                                li{
                                    list-style: none;
                                    display: block;
                                    a{
                                        display: table-cell;
                                        padding: 7px 15px;
                                        text-decoration: none;
                                        color: $bg-white;
                                        font-weight: 300;
                                        font-family: padauk-regular;
                                        font-size: 14px;
                                        
                                    }
                                }
                            }
                            
                        }



                        a.nav-link{
                            display: inline-block;
                            color: #fff;
                            text-decoration: none;  
                            padding: 18px 15px;   
                            font-size: 14px;   
                            letter-spacing: .7px; 
                            position: relative;
                            i.d-icon{
                                display: inline-block;
                                position: absolute;
                                top:20px;
                                right: 0px;
                            }                  
                        } 

                        &:hover{
                            i.d-icon{
                                transform: rotate(180deg);
                                transition: .5s ease;
                                top:50%;
                            }

                        }
                    }
                    li.nav-item:hover .dropdown{
                        display: block;
                        transition: .5s ease all;
                        z-index: 100;
                    }
                    li.active{
                        color: #fff;
                        background-color: $bg-sky-blue;
                        transition: .5s ease-out all;
                       
                    }
                    li:hover{
                        color: #fff;
                        background-color: $bg-sky-blue;
                        transition: .5s ease-out all;
                       
                    }

                   
                   
                }
        }
      }
    
    
}

.serchbox{
    display: table-cell;
    padding: auto;
    margin: auto;
    vertical-align: middle;

    i{
        color:#fff;
        font-weight: 500;
        cursor: pointer;
    }

    .wrapper-search-form{
        display: none;
        height: 58px;
        background-color: $bg-white;
        width: 100%;
        position: absolute;
        top:0px;
        right: 0;
        z-index: 100;
        vertical-align: middle;
        
        width: 100%;
        input[type='text']{
            height: 40px;
            width: 90%;
            margin: auto;
            padding:auto;
            display: block;
            padding: 0 7px;
            &:focus{
                outline: 0;
               
            }
           
        }
        input[type='submit']{
            position: absolute;
            right:60px;
            height: 45px;
            width:150px;
            top:7px;
            outline: 0;
            border: 0;
            background-color: $bg-dark-sky-blue;
            color:$bg-white;
            
           
        }


    }
}
