@media (max-width: 768px) {
    
    header nav{
        width: 100%;
    }
    header nav .collapse .navbar-nav {
        display: none;
    }
    .slider .owl-carousel .item .wrapper-text{
    display: none;
}
header nav .collapse ul.navbar-nav
{
    position: absolute;
    top:55px;
    left:0;
     z-index: 1000;
     width: 100%;
     background-color:#0776b7;
     li.nav-item{
        
        display: block;
        margin: 0;
        .dropdown{
            position: relative;
            top:0;
            width: 100%;
           
        }
    }
}

.toggle{
    display: inline-block;cursor: pointer;
    i{
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding:15px 5px;
        cursor: pointer;

    }
}


    .content{
        width: 92%;
        padding: 0px 0;
    }

    .s-item{
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    footer{
        width: 100%;
      .footer-wrapper{
         width:100%;
            }
        .single-box{
            flex-basis: 100%;
            margin-right: 0;
        }
        .single-box:last-child{
            margin-right: 0px;
            
        }
        .single-box
        {
            margin-left: 0;
            margin-bottom: 15px;
        }
    }
}